{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body  %}

    <div class="container content">
        <div class="row profile">
            <div class="col-md-3" style="float:left;">
                <div class="profile-sidebar position-fixed">

                    <div class="profile-userpic">
                        <img src="{{ app.user.avatar }}" class="img-responsive" alt="">
                    </div>

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{ app.user.nom }} {{ app.user.prenom }}
                        </div>
                        <div class="profile-usertitle-job">
                            {{ app.user.email}}
                        </div>
                    </div>
                    <div class="profile-usermenu sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="{{ path('profile') }}" class="nav-link active">
                                    <i class="fa fa-home"></i>
                                    Overview </a>
                            </li>
                            <li class=" active nav-item">
                                <a class="nav-link" href="{{ path('profile_account', {'id':user.id}) }}">
                                    {#<a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>#}
                                    <i class="fa fa-user"></i>
                                    Account Settings </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile_account') }}">Informations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#content2">Password</a>
                            </li>
                        </ul>
                        {#{% set flashbag_notices = app.session.flashBag('notice') %}#}
                        {% set flashbag_notices = app.flashes('notice') %}
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active" id="content2">
                                <div class="profile-content">
                                    {{ form_start(formPassword) }}
                                    {{ form_widget(formPassword) }}
                                    <button class="btn btn-primary" type="submit" >Save</button>
                                    {{ form_end(formPassword) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}